/* Estilos Generales */
body {
    background-image: url('externalizacion-TI.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    color: black; 
    padding: 20px; 
    text-align: center; 
    font-family: Arial, sans-serif; 
}

.items {
    text-align: right; /* Alinear enlaces de navegación a la derecha */
    margin-bottom: 20px; 
}

.items a {
    color: wheat; 
    text-decoration: none; /* Quitar subrayado de los enlaces */
    margin-left: 10px; 
    display: inline-block; /* Mantener los enlaces en una línea */
}

/* Estilos de Secciones */
#Sobre_mi, #Proyectos, #Contacto {
    border: 2px solid black; 
    padding: 10px; 
    margin: 20px auto; 
    width: 80%; 
}

h1, h2 {
    margin: 10px 0; 
}

h2.titulo {
    background-color: blue; 
    color: white; 
    padding: 5px; 
    border-radius: 5px; 
}

img {
    max-width: 100%; 
    height: auto; 
}

/* Diseño Responsivo */
@media (max-width: 768px) {
    html, body {
        background-image: url('iPad\ mini\ 5\ -\ 1.png'); 
        background-size: cover;
        margin: auto;
        background-position: center;
        height: 100%;
    }
    
    #Sobre_mi, #Proyectos, #Contacto {
        width: 95%; 
        text-align: center; 
    }

    .items {
        text-align: right; 
        margin-bottom: 30px; 
    }

    .items a {
        display: inline-block; 
        margin-bottom: 10px; 
    }
    }

@media (max-width: 667px) {
    body {
        background-image: url('image 2.png'); 
        background-position: 0%;
        background-size: cover;
        text-align: center;
    }
    .items a {
        display: inline-block; 
        margin-bottom: 10px;
        text-align: right;
    }
    #Sobre_mi, #Proyectos, #Contacto {
        width: 90%; 
        text-align: center; 
        margin: auto;
    }
}